<% include partials/header %>
<head>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<main>
    <h1>Welcome to Note!</h1>
    <%if(typeof errors !== 'undefined'){%>
        <ul>
        <%errors.forEach(function(elem){%>
            <li><%= elem.msg _%></li>
        <%})%>
        </ul>
    <%}%>
    <form method="post" action="/login">
        <label>Emailaddress
            <input id="userName" type="text" name="userName">
        </label>
        <label for="password">Password
            <input id="password" type="password" name="password">
        </label>
        <button>Log in</button>
        <a href="/register">Register</a>
    </form>
</main>
<% include partials/footer %>