<% include partials/header %>
<h1>a</h1>
<h1><%= users[0].firstName %></h1>
<!-- <button
id=js-remove
data-id="<%= users[0].firstName %>"
class=danger
>Remove</button> -->
<% include partials/footer%>

